* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aqua;
    height: 100%;

}

.capa {
    width: 100%;
    object-fit: cover;
    height: 400px; /*mudar*/
}

.infoHeader{
    padding-top: 15px;
    background-color: blueviolet;
}

.titulo {
    text-align: center;
    color:aliceblue;
}

nav{
    padding: 20px;
}

nav a {
    text-decoration: nome;
    color:azure;
}